SECRET_KEY=your-secret-key-change-this-in-production
DEBUG=True

# MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/jobportal?retryWrites=true&w=majority
MONGO_DB_NAME=jobportal

# Chapa payment gateway
CHAPA_SECRET_KEY=CHASECK_TEST-your-chapa-secret-key

BACKEND_URL=http://127.0.0.1:8000
FRONTEND_URL=http://localhost:8081

# Email (SMTP) — Gmail App Password
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
DEFAULT_FROM_EMAIL=JobPortal <your-email@gmail.com>
