SECRET_KEY=your-secret-key-change-this-in-production
DEBUG=True

# MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/jobportal?retryWrites=true&w=majority
MONGO_DB_NAME=jobportal

# Chapa payment gateway
CHAPA_SECRET_KEY=CHASECK_TEST-your-chapa-secret-key

BACKEND_URL=http://127.0.0.1:8000
FRONTEND_URL=http://localhost:8081

# Email — Brevo (https://app.brevo.com → SMTP & API → API Keys)
BREVO_API_KEY=your-brevo-api-key
BREVO_SENDER_NAME=JobPortal
BREVO_SENDER_EMAIL=noreply@yourdomain.com
